body {
    font-family: OCR A Std, monospace;
    color: rgb(2, 2, 82);
    background-color: rgb(233, 232, 232);
    
}
h1 {
    right: 50%;
    bottom: 88%;
    transform: translate(50%,50%);
    position: absolute;
    font-size: 60px;
    color: rgb(3, 3, 26);
    text-shadow: 2px 2px 0px #382beb, 
                  4px 4px 0px #65acee;
	  font-family: OCR A Std, monospace;
    font-weight: 500;
}
#grid-squares-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    right: 50%;
    bottom: 45%;
    transform: translate(50%,50%);
    position: absolute;
    border: 3px solid rgb(7, 7, 7);
    border-radius: 1%;
    background-color: white;
}
#clear {
    right: 57%;
    bottom: 7%;
    transform: translate(50%,50%);
    position: absolute;
}
#top-buttons-div {
    right: 49.5%;
    bottom: 82%;
    transform: translate(50%,50%);
    position: absolute; 
}
button {
    margin-right: 10px;
    height: 40px;
    width: 80px;
    vertical-align: middle;
    background-color: rgb(175, 214, 245);
    border: 3px solid gray;
    border-radius: 20px;
    color: rgb(6, 6, 85);
    font-family: Andale Mono, monospace;
    font-weight: 900;
    font-size: 16px;
}
#pick-color {
    width: 120px;
}
button:hover {
    background-color: rgb(126, 189, 241);
}
#size-picker {
    right: 45%;
    bottom: 7%;
    transform: translate(50%,50%);
    position: absolute; 
}
#grid-size-picker {
    width: 160px;

}
.slider {
    height: 25px; 
}
#black {
    border: 3px solid #02296D;
    box-shadow: 0 0 10px #02296D;
}